<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.BizShopMapper">
    <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.BizShop">
        <id column="shop_id" property="shopId" jdbcType="VARCHAR"/>
        <result column="shop_number" property="shopNumber" jdbcType="VARCHAR"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shop_english_name" property="shopEnglishName" jdbcType="VARCHAR"/>
        <result column="floor_id" property="floorId" jdbcType="INTEGER"/>
        <result column="biz_format_id" property="bizFormatId" jdbcType="VARCHAR"/>
        <result column="shop_house_number" property="shopHouseNumber" jdbcType="VARCHAR"/>
        <result column="is_shop_enabled" property="isShopEnabled" jdbcType="INTEGER"/>
        <result column="shop_logo_path" property="shopLogoPath" jdbcType="VARCHAR"/>
        <result column="shop_tel" property="shopTel" jdbcType="VARCHAR"/>
        <result column="add_shop_time" property="addShopTime" jdbcType="TIMESTAMP"/>
        <result column="shop_checkin_time" property="shopCheckinTime" jdbcType="TIMESTAMP"/>
        <result column="shop_weight" property="shopWeight" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.whxm.harbor.bean.BizShop" extends="BaseResultMap">
        <result column="shop_descript" property="shopDescript" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    shop_id, shop_number, shop_name, shop_english_name, floor_id, biz_format_id, shop_house_number, 
    is_shop_enabled, shop_logo_path, shop_tel, add_shop_time, shop_checkin_time, shop_weight
  </sql>
    <sql id="Blob_Column_List">
    shop_descript
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from biz_shop
        where shop_id = #{shopId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from biz_shop
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.whxm.harbor.bean.BizShop">
    insert into biz_shop (shop_id, shop_number, shop_name, 
      shop_english_name, floor_id, biz_format_id, 
      shop_house_number, is_shop_enabled, shop_logo_path, 
      shop_tel, add_shop_time, shop_checkin_time, 
      shop_weight, shop_descript)
    values (#{shopId,jdbcType=VARCHAR}, #{shopNumber,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR},
      #{shopEnglishName,jdbcType=VARCHAR}, #{floorId,jdbcType=INTEGER}, #{bizFormatId,jdbcType=VARCHAR}, 
      #{shopHouseNumber,jdbcType=VARCHAR}, #{isShopEnabled,jdbcType=INTEGER}, #{shopLogoPath,jdbcType=VARCHAR}, 
      #{shopTel,jdbcType=VARCHAR}, #{addShopTime,jdbcType=TIMESTAMP}, #{shopCheckinTime,jdbcType=TIMESTAMP}, 
      #{shopWeight,jdbcType=INTEGER}, #{shopDescript,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.whxm.harbor.bean.BizShop">
        insert into biz_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="shopNumber != null">
                shop_number,
            </if>
            <if test="shopName != null">
                shop_name,
            </if>
            <if test="shopEnglishName != null">
                shop_english_name,
            </if>
            <if test="floorId != null">
                floor_id,
            </if>
            <if test="bizFormatId != null">
                biz_format_id,
            </if>
            <if test="shopHouseNumber != null">
                shop_house_number,
            </if>
            <if test="isShopEnabled != null">
                is_shop_enabled,
            </if>
            <if test="shopLogoPath != null">
                shop_logo_path,
            </if>
            <if test="shopTel != null">
                shop_tel,
            </if>
            <if test="addShopTime != null">
                add_shop_time,
            </if>
            <if test="shopCheckinTime != null">
                shop_checkin_time,
            </if>
            <if test="shopWeight != null">
                shop_weight,
            </if>
            <if test="shopDescript != null">
                shop_descript,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="shopNumber != null">
                #{shopNumber,jdbcType=VARCHAR},
            </if>
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="shopEnglishName != null">
                #{shopEnglishName,jdbcType=VARCHAR},
            </if>
            <if test="floorId != null">
                #{floorId,jdbcType=INTEGER},
            </if>
            <if test="bizFormatId != null">
                #{bizFormatId,jdbcType=VARCHAR},
            </if>
            <if test="shopHouseNumber != null">
                #{shopHouseNumber,jdbcType=VARCHAR},
            </if>
            <if test="isShopEnabled != null">
                #{isShopEnabled,jdbcType=INTEGER},
            </if>
            <if test="shopLogoPath != null">
                #{shopLogoPath,jdbcType=VARCHAR},
            </if>
            <if test="shopTel != null">
                #{shopTel,jdbcType=VARCHAR},
            </if>
            <if test="addShopTime != null">
                #{addShopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shopCheckinTime != null">
                #{shopCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shopWeight != null">
                #{shopWeight,jdbcType=INTEGER},
            </if>
            <if test="shopDescript != null">
                #{shopDescript,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.whxm.harbor.bean.BizShop">
        update biz_shop
        <set>
            <if test="shopNumber != null">
                shop_number = #{shopNumber,jdbcType=VARCHAR},
            </if>
            <if test="shopName != null">
                shop_name = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="shopEnglishName != null">
                shop_english_name = #{shopEnglishName,jdbcType=VARCHAR},
            </if>
            <if test="floorId != null">
                floor_id = #{floorId,jdbcType=INTEGER},
            </if>
            <if test="bizFormatId != null">
                biz_format_id = #{bizFormatId,jdbcType=VARCHAR},
            </if>
            <if test="shopHouseNumber != null">
                shop_house_number = #{shopHouseNumber,jdbcType=VARCHAR},
            </if>
            <if test="isShopEnabled != null">
                is_shop_enabled = #{isShopEnabled,jdbcType=INTEGER},
            </if>
            <if test="shopLogoPath != null">
                shop_logo_path = #{shopLogoPath,jdbcType=VARCHAR},
            </if>
            <if test="shopTel != null">
                shop_tel = #{shopTel,jdbcType=VARCHAR},
            </if>
            <if test="addShopTime != null">
                add_shop_time = #{addShopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shopCheckinTime != null">
                shop_checkin_time = #{shopCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shopWeight != null">
                shop_weight = #{shopWeight,jdbcType=INTEGER},
            </if>
            <if test="shopDescript != null">
                shop_descript = #{shopDescript,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where shop_id = #{shopId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.whxm.harbor.bean.BizShop">
    update biz_shop
    set shop_number = #{shopNumber,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_english_name = #{shopEnglishName,jdbcType=VARCHAR},
      floor_id = #{floorId,jdbcType=INTEGER},
      biz_format_id = #{bizFormatId,jdbcType=VARCHAR},
      shop_house_number = #{shopHouseNumber,jdbcType=VARCHAR},
      is_shop_enabled = #{isShopEnabled,jdbcType=INTEGER},
      shop_logo_path = #{shopLogoPath,jdbcType=VARCHAR},
      shop_tel = #{shopTel,jdbcType=VARCHAR},
      add_shop_time = #{addShopTime,jdbcType=TIMESTAMP},
      shop_checkin_time = #{shopCheckinTime,jdbcType=TIMESTAMP},
      shop_weight = #{shopWeight,jdbcType=INTEGER},
      shop_descript = #{shopDescript,jdbcType=LONGVARCHAR}
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.whxm.harbor.bean.BizShop">
    update biz_shop
    set shop_number = #{shopNumber,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_english_name = #{shopEnglishName,jdbcType=VARCHAR},
      floor_id = #{floorId,jdbcType=INTEGER},
      biz_format_id = #{bizFormatId,jdbcType=VARCHAR},
      shop_house_number = #{shopHouseNumber,jdbcType=VARCHAR},
      is_shop_enabled = #{isShopEnabled,jdbcType=INTEGER},
      shop_logo_path = #{shopLogoPath,jdbcType=VARCHAR},
      shop_tel = #{shopTel,jdbcType=VARCHAR},
      add_shop_time = #{addShopTime,jdbcType=TIMESTAMP},
      shop_checkin_time = #{shopCheckinTime,jdbcType=TIMESTAMP},
      shop_weight = #{shopWeight,jdbcType=INTEGER}
    where shop_id = #{shopId,jdbcType=VARCHAR}
  </update>

    <!--以下为自定义部分-->
    <select id="selectIdByNumber" resultMap="ExtensionResultMap">
        select
        <include refid="Base_Column_List"/>,floor_name,biz_format_type
        from biz_shop
        JOIN biz_floor USING(floor_id)
        JOIN biz_format USING (biz_format_id)
        WHERE shop_number=#{shopNumber}
    </select>

    <select id="getBizShopListByFloorNumberAndBizType" resultMap="ExtensionResultMap">
        select
        <include refid="Base_Column_List"/>,floor_name,biz_format_type
        from biz_shop
        JOIN biz_floor USING(floor_id)
        JOIN biz_format USING (biz_format_id)
        WHERE floor_id=#{floorId} AND biz_format_id=#{bizFormatId}
    </select>


    <select id="getBizShopList" resultMap="ExtensionResultMap">
        select
        <include refid="Base_Column_List"/>,floor_name,biz_format_type
        from biz_shop
        JOIN biz_floor USING(floor_id)
        JOIN biz_format USING (biz_format_id)
        <where>
            <if test="shopName!=null">and shop_name like concat('%',#{shopName},'%')</if>
            <if test="shopHouseNumber!=null">and shop_house_number like concat('%',#{shopHouseNumber},'%')</if>
            <if test="isShopEnabled!=null">and is_shop_enabled=#{shopName}</if>
            <if test="floorId!=null">and floor_id=#{floorId}</if>
            <if test="bizFormatId!=null">and biz_format_id=#{bizFormatId}</if>
        </where>
    </select>

    <resultMap id="ExtensionResultMap" type="com.whxm.harbor.bean.BizShop" extends="BaseResultMap">
        <result column="floor_name" property="floorName" jdbcType="VARCHAR"/>
        <result column="biz_format_type" property="bizFormatType" jdbcType="VARCHAR"/>
    </resultMap>

    <!--插入商铺图片-->
    <insert id="insertShopPictures">
        INSERT INTO shop_picture_relation(shop_id, shop_picture_path, shop_picture_size) VALUES
        <foreach collection="pictures" item="item" separator=",">
            (#{shopId},#{item.shopPicturePath},#{item.shopPictureSize})
        </foreach>
    </insert>

    <!--清除商铺-商铺图片关系表数据-->
    <!--<delete id="delShopPicturesRelation">
        DELETE FROM shop_picture_relation
        WHERE shop_id=#{shopId}
    </delete>-->

    <select id="selectShopPicturesById" resultType="java.lang.String">
        SELECT shop_picture_path FROM shop_picture_relation WHERE shop_id=#{bizShopId}
    </select>

    <!--啰嗦,字段需求一开始没说,到后来又要加-->
    <select id="selectShopIdListByBizType" resultType="java.lang.String">
        SELECT bs.shop_id FROM biz_shop bs
        JOIN biz_format bf USING (biz_format_id)
        WHERE bf.biz_format_type=#{bizFormatType}
    </select>

    <!--<select id="selectShopPicturesByType" >
        SELECT bs.shop_id FROM biz_shop bs
        JOIN biz_format bf USING (biz_format_id)
        WHERE bf.biz_format_type=#{bizFormatType}
    </select>-->


</mapper>