<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.BizScreensaverMapper">
    <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.BizScreensaver">
        <id column="screensaver_id" property="screensaverId" jdbcType="INTEGER"/>
        <result column="screensaver_program_name" property="screensaverProgramName" jdbcType="VARCHAR"/>
        <result column="add_screensaver_time" property="addScreensaverTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    screensaver_id, screensaver_program_name, add_screensaver_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from biz_screensaver
        where screensaver_id = #{screensaverId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_screensaver
    where screensaver_id = #{screensaverId,jdbcType=INTEGER}
  </delete>
    <!--设置插入返回主键-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="screensaverId"
            parameterType="com.whxm.harbor.bean.BizScreensaver">
    insert into biz_screensaver (screensaver_id, screensaver_program_name, 
       add_screensaver_time
      )
    values (#{screensaverId,jdbcType=INTEGER}, #{screensaverProgramName,jdbcType=VARCHAR}, 
       #{addScreensaverTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.whxm.harbor.bean.BizScreensaver">
        insert into biz_screensaver
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="screensaverId != null">
                screensaver_id,
            </if>
            <if test="screensaverProgramName != null">
                screensaver_program_name,
            </if>
            <if test="addScreensaverTime != null">
                add_screensaver_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="screensaverId != null">
                #{screensaverId,jdbcType=INTEGER},
            </if>
            <if test="screensaverProgramName != null">
                #{screensaverProgramName,jdbcType=VARCHAR},
            </if>
            <if test="addScreensaverTime != null">
                #{addScreensaverTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.whxm.harbor.bean.BizScreensaver">
        update biz_screensaver
        <set>
            <if test="screensaverProgramName != null">
                screensaver_program_name = #{screensaverProgramName,jdbcType=VARCHAR},
            </if>
            <if test="addScreensaverTime != null">
                add_screensaver_time = #{addScreensaverTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where screensaver_id = #{screensaverId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.whxm.harbor.bean.BizScreensaver">
    update biz_screensaver
    set screensaver_program_name = #{screensaverProgramName,jdbcType=VARCHAR},
      add_screensaver_time = #{addScreensaverTime,jdbcType=TIMESTAMP}
    where screensaver_id = #{screensaverId,jdbcType=INTEGER}
  </update>

    <!--以下是自定义部分-->
    <select id="selectWithScreensaverMaterialAndPublishedTerminalAmount" resultMap="ExtensionResultMap">
    SELECT
        bs.screensaver_id,
        screensaver_program_name,
        bs.add_screensaver_time,
        tmp1.screensaver_material_amount ,
        tmp2.screensaver_published_amount
    FROM
        biz_screensaver bs
        JOIN (
              SELECT
              count(*) screensaver_material_amount,
              screensaver_id
              FROM screensaver_material_relation
              GROUP BY screensaver_id
          ) tmp1 USING ( screensaver_id )
        LEFT JOIN (
             SELECT
             count(*) screensaver_published_amount,
             screensaver_id
             FROM screensaver_published_terminal_relation
             GROUP BY screensaver_id
         ) tmp2 using ( screensaver_id )
    WHERE screensaver_id=#{screensaverId}
    </select>

    <select id="getBizScreensaverList" resultMap="ExtensionResultMap">
    SELECT
        bs.screensaver_id,
        bs.screensaver_program_name,
        bs.add_screensaver_time,
        tmp1.screensaver_material_amount,
        tmp2.screensaver_published_amount
    FROM
        biz_screensaver bs
        JOIN (
              SELECT
              count(*) screensaver_material_amount,
              screensaver_id
              FROM screensaver_material_relation
              GROUP BY screensaver_id
          ) tmp1 USING ( screensaver_id )
        LEFT JOIN (
             SELECT
             count(*) screensaver_published_amount,
             screensaver_id
             FROM screensaver_published_terminal_relation
             GROUP BY screensaver_id
         ) tmp2 using ( screensaver_id )
    <if test="screensaverProgramName!=null">
        WHERE bs.screensaver_program_name LIKE concat('%',#{screensaverProgramName},'%')
    </if>
  </select>

    <resultMap id="ExtensionResultMap" type="com.whxm.harbor.bean.BizScreensaver" extends="BaseResultMap">
        <result column="screensaver_material_amount" property="screensaverMaterialAmount" jdbcType="INTEGER"/>
        <result column="screensaver_published_amount" property="screensaverPublishedAmount" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertScreensaverMaterials">
        insert into screensaver_material_relation (screensaver_id, screensaver_material_id) values
        <foreach collection="screensaverMaterialIds" item="item" separator=",">
            (#{screensaverId}, #{item})
        </foreach>
    </insert>

    <!--清除屏保-屏保材料关系表数据,
    屏保与屏保材料,可以认为屏保是主表,可以主动解除关系,
    而屏保与终端表,可以认为终端是主表,屏保不能主动解除关系,应该由终端决定是否解除屏保关系
    删除语句要额外注意-->
    <delete id="delScreensaverMaterialRelation">
        DELETE FROM screensaver_material_relation WHERE screensaver_id=#{screensaverId}
    </delete>

    <!--屏保发布-->
    <insert id="insertScreensaverPublishedTerminal">
        insert into screensaver_published_terminal_relation (screensaver_id,terminal_id, screensaver_publish_time)
        values
        <foreach collection="terminalIds" item="item" separator=",">
            (#{screensaverId},#{item},#{screensaverPublishTime})
        </foreach>
    </insert>
</mapper>